[config]
skip_core_tasks = true

[env]
FILENAME = "main"
PUBLISHNAME = "output"

[tasks.latex]
command = "lualatex"
args = [
  "--cmdx",
  "-file-line-error",
  "-synctex=1",
  "-interaction=nonstopmode",
  "-halt-on-error",
  "--fmt=lualatex.fmt",
  "${FILENAME}.tex"
]

[tasks.pdf-crop]
command = "pdfcrop"
args = [
  "--margins",
  "10 5",
  "${FILENAME}.pdf",
  "${FILENAME}.pdf"
]

[tasks.pdf-png]
command = "pdftocairo"
args = [
  "-png",
  "-r", "300",
  "-singlefile",
  "${FILENAME}.pdf"
]

[tasks.clean]
command = "latexmk"
args = [
  "-c",
  "${FILENAME}.tex"
]

[tasks.clear]
command = "latexmk"
args = [
  "-C",
  "${FILENAME}.tex"
]

[tasks.clean-sections]
cwd = "${CARGO_MAKE_CURRENT_TASK_INITIAL_MAKEFILE_DIRECTORY}/sections"
command = "pwsh"
args = [
  "-nop",
  "-C",
  "Get-ChildItem -Filter '*.tex' | ForEach-Object { latexmk -c $_ }"
]

[tasks.clear-sections]
cwd = "${CARGO_MAKE_CURRENT_TASK_INITIAL_MAKEFILE_DIRECTORY}/sections"
command = "pwsh"
args = [
  "-nop",
  "-C",
  "Get-ChildItem -Filter '*.tex' | ForEach-Object { latexmk -C $_ }"
]

[tasks.default]
alias = "build"

[tasks.build]
run_task = { name = ["make", "rename"] }

[tasks.rebuild]
run_task = { name = ["remake", "rename"] }

[tasks.make]
command = "latexmk"
args = [
  "${FILENAME}.tex"
]

[tasks.remake]
command = "latexmk"
args = [
  "-gg",
  "${FILENAME}.tex"
]

[tasks.rename]
command = "pwsh"
args = [
    "-nop",
    "-C",
    "Copy-Item -LP '${FILENAME}.pdf' -Destination '${PUBLISHNAME}.pdf' -Force"
]
