\input{texpixy/pixylua_article_a4_10}
% \input{texpixy/pixylua_article_a4_10_two}
% \input{texpixy/pixylua_article_a4_11}
% \input{texpixy/pixylua_article_a4_11_two}
\input{texpixy/pixylua_style}
\input{texpixy/pixylua}
%--------------------------------------------------------
\title{\TeX\ 文書テンプレート}
\author{mebiusbox software}
\begin{document}
    \maketitle
    \begin{abstract}
    文章の概要はこちら...
    \end{abstract}
    
    \section{ほげ}

    あいうえお
\end{document}
